body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
}

.logo img {
    height: 40px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px; /* Adjust margin for better spacing on smaller screens */
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #66ccff;
}

body {
    padding-top: 70px;
}

.logo a {
    text-decoration: none;
    color: white;
}
/* Add styles for the mobile menu button */
.mobile-menu-button {
    display: none; /* Initially hide the button on larger screens */
}

.logo {
    height: 100%;
    width: 100%;
}
/* Media query for smaller screens */
@media only screen and (max-width: 768px) {

    .mobile-menu-button {
        display: block; /* Display the button on smaller screens */
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 16px;
    }

    /* Hide the navigation by default on smaller screens */
    nav ul {
        display: none;
    }

    /* Show the navigation when the show class is present */
    nav ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }
}
