.main {
    display: flex;
    justify-content: space-around;
}

.mainElement {
    text-align: center;
}

.main-text {
    padding-top: 45px;
    color: rgb(18, 147, 140);
    font-family: Rubik;
}

.lines-img {
    padding-top: 10px;
    width: 75px;
    height: 75px;
}

.site-img-style {
    border-radius: 3px;
    width: 90%; /* Make the image take the full width of its container */
    max-width: 100%; /* Ensure the image doesn't exceed its natural size */
}

.site-img-holder {
    max-width: 65%;
    margin: 0 auto; /* Center the image horizontally */
}

.benefits-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 50px; /* Adjust as needed */
}

.benefits-info div {
    text-align: center;
    width: 30%;
}

.time {
    background-color: rgb(176, 176, 176);
    height: 200px;
}

.responsability {
    background-color: rgb(132, 201, 190);
    height: 200px;
}

.income {
    background-color: rgb(176, 176, 176);
    height: 200px;
}

.benefits-info div h4 {
    text-align:  center;
    font-size: 15px;
    font-family: Rubik;
}

.benefits-info div.benefit {
    border: solid 2px rgb(232, 196, 104);
    border-radius: 25px;
}

.benefit-description {
    text-align: center;
    align-items: center;
    align-content: center;
    max-width: 100%; /* Set the maximum width to 100% */
}
.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 250px; /* Adjust the max-height as needed */
    overflow: hidden;
    height: 300px;
}

.benefit-description p {
    word-wrap: break-word;
    max-width: 100%; /* Ensure the paragraph doesn't exceed the width of its container */
}