.main {
    display: flex;
    justify-content: space-around;
}

.mainElement {
    text-align: center;
}

.main-text {
    padding-top: 45px;
    color: rgb(18, 147, 140);
    font-family: Rubik;
}

.lines-img {
    padding-top: 10px;
    width: 75px;
    height: 75px;
}

.site-img-style {
    border-radius: 3px;
    width: 90%;
    max-width: 100%;
}

.site-img-holder {
    max-width: 65%;
    margin: 0 auto;
}

.benefits-info {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 45px;
}

.benefits-info div {
    text-align: center;
    width: 67%; /* Full width on smaller screens */
    margin-bottom: 20px; /* Add space between items */
}


.benefits-info div h4 {
    text-align: center;
    font-size: 19px;
    font-family: Rubik;
}

.benefits-info div.benefit {
    border: solid 2px rgb(232, 196, 104);
    font-size: 17px;
    border-radius: 35px;
}

.benefit-description {
    text-align: center;
    align-items: center;
    align-content: center;
    max-width: 100%;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 200px; /* Adjusted max height for smaller screens */
    overflow: hidden;
}

.benefit-description p {
    word-wrap: break-word;
    max-width: 100%;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .benefits-info div {
        width: 100%; /* Full width for each item on smaller screens */
    }
}

.time,
.responsability,
.income {
    height: 150px; /* Adjusted height for smaller screens */
    transition: 0.7s;
}

.benefit h4 {
    color: rgb(18, 147, 140);
    transition: 0.7s;
}

.time:hover,
.responsability:hover,
.income:hover{
    background-color: rgb(27, 185, 177);;
    color: white;
}

.time:hover h4,
.responsability:hover h4,
.income:hover h4 {
    color: white;
}

