.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-50%);
    transition: all 1.5s;
}

.hidden-right {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(50%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}